In [27]:
import pandas as pd

In [28]:
data_teste = pd.read_csv('apartment_ads_final.csv')

In [29]:
#verificano base de dados
data_teste.head()

,Title,Neighborhood,Address,Total Area,Useful Area,Bedrooms,Bathrooms,Garage,Rent,Condo Fee,Link
0,NaN,Centro,Rua Aurora,38.0,NaN,1.0,1.0,0,R$ 1.450,R$ 576 Condominio,NaN
1,NaN,Centro,Avenida Senador Queirós 101,41.0,NaN,1.0,1.0,0,R$ 1.450,R$ 990 Condominio,NaN
2,NaN,Vila Buarque,"rua das Palmeiras, 381",58.0,NaN,2.0,1.0,0,R$ 1.450,R$ 595 Condominio,NaN
3,NaN,Centro,AV NOVE DE JULHO,80.0,NaN,1.0,1.0,0,R$ 1.450,R$ 650 Condominio,NaN
4,NaN,Vila Buarque,Rua Marquês de Itu,31.0,NaN,1.0,1.0,1,R$ 1.459,R$ 720 Condominio,NaN

In [30]:
#excluindo colunas que não serão utilizadas, se existirem
columns_to_drop = ['Title', 'Useful Area', 'Link']
columns_to_drop = [col for col in columns_to_drop if col in data_teste.columns]
data_teste = data_teste.drop(columns=columns_to_drop)

In [31]:
#verificando base de dados
data_teste.head()

,Neighborhood,Address,Total Area,Bedrooms,Bathrooms,Garage,Rent,Condo Fee
0,Centro,Rua Aurora,38.0,1.0,1.0,0,R$ 1.450,R$ 576 Condominio
1,Centro,Avenida Senador Queirós 101,41.0,1.0,1.0,0,R$ 1.450,R$ 990 Condominio
2,Vila Buarque,"rua das Palmeiras, 381",58.0,2.0,1.0,0,R$ 1.450,R$ 595 Condominio
3,Centro,AV NOVE DE JULHO,80.0,1.0,1.0,0,R$ 1.450,R$ 650 Condominio
4,Vila Buarque,Rua Marquês de Itu,31.0,1.0,1.0,1,R$ 1.459,R$ 720 Condominio

In [32]:
#renomeando colunas
data_teste.rename(columns={'Neighborhood':'bairro', 'Address':'endereco', 'Total Area':'area', 'Bedrooms':'quartos',
                            'Bathrooms':'banheiros', 'Garage':'vaga', 'Rent':'aluguel', 'Condo Fee':'condominio'}, inplace=True)

In [33]:
#verificando base de dados
data_teste.head()

,bairro,endereco,area,quartos,banheiros,vaga,aluguel,condominio
0,Centro,Rua Aurora,38.0,1.0,1.0,0,R$ 1.450,R$ 576 Condominio
1,Centro,Avenida Senador Queirós 101,41.0,1.0,1.0,0,R$ 1.450,R$ 990 Condominio
2,Vila Buarque,"rua das Palmeiras, 381",58.0,2.0,1.0,0,R$ 1.450,R$ 595 Condominio
3,Centro,AV NOVE DE JULHO,80.0,1.0,1.0,0,R$ 1.450,R$ 650 Condominio
4,Vila Buarque,Rua Marquês de Itu,31.0,1.0,1.0,1,R$ 1.459,R$ 720 Condominio

In [34]:
data_teste.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1155 entries, 0 to 1154
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   bairro      1155 non-null   object
 1   endereco    1155 non-null   object
 2   area        1140 non-null   float64
 3   quartos     1140 non-null   float64
 4   banheiros   990 non-null    float64
 5   vaga        1155 non-null   int64
 6   aluguel     1155 non-null   object
 7   condominio  1098 non-null   object
dtypes: float64(3), int64(1), object(4)
memory usage: 72.3+ KB

In [35]:
data_teste['endereco_completo'] = data_teste.apply(lambda row: f"{row['endereco']}, {row['bairro']}, São Paulo, São Paulo, Brasil", axis=1)
data_teste.head()

,bairro,endereco,area,quartos,banheiros,vaga,aluguel,condominio,endereco_completo
0,Centro,Rua Aurora,38.0,1.0,1.0,0,R$ 1.450,R$ 576 Condominio,"Rua Aurora, Centro, São Paulo, São Paulo, Brasil"
1,Centro,Avenida Senador Queirós 101,41.0,1.0,1.0,0,R$ 1.450,R$ 990 Condominio,"Avenida Senador Queirós 101, Centro, São Paulo..."
2,Vila Buarque,"rua das Palmeiras, 381",58.0,2.0,1.0,0,R$ 1.450,R$ 595 Condominio,"rua das Palmeiras, 381, Vila Buarque, São Paul..."
3,Centro,AV NOVE DE JULHO,80.0,1.0,1.0,0,R$ 1.450,R$ 650 Condominio,"AV NOVE DE JULHO, Centro, São Paulo, São Paulo..."
4,Vila Buarque,Rua Marquês de Itu,31.0,1.0,1.0,1,R$ 1.459,R$ 720 Condominio,"Rua Marquês de Itu, Vila Buarque, São Paulo, S..."

In [36]:
nova_base_dados = data_teste.head()
nova_base_dados

,bairro,endereco,area,quartos,banheiros,vaga,aluguel,condominio,endereco_completo
0,Centro,Rua Aurora,38.0,1.0,1.0,0,R$ 1.450,R$ 576 Condominio,"Rua Aurora, Centro, São Paulo, São Paulo, Brasil"
1,Centro,Avenida Senador Queirós 101,41.0,1.0,1.0,0,R$ 1.450,R$ 990 Condominio,"Avenida Senador Queirós 101, Centro, São Paulo..."
2,Vila Buarque,"rua das Palmeiras, 381",58.0,2.0,1.0,0,R$ 1.450,R$ 595 Condominio,"rua das Palmeiras, 381, Vila Buarque, São Paul..."
3,Centro,AV NOVE DE JULHO,80.0,1.0,1.0,0,R$ 1.450,R$ 650 Condominio,"AV NOVE DE JULHO, Centro, São Paulo, São Paulo..."
4,Vila Buarque,Rua Marquês de Itu,31.0,1.0,1.0,1,R$ 1.459,R$ 720 Condominio,"Rua Marquês de Itu, Vila Buarque, São Paulo, S..."

In [37]:
import googlemaps

# Inicializando o cliente da API do Google Maps
gmaps = googlemaps.Client(key='AIzaSyAi_c4WeIagps-xADqRrJ8mypWmOV-Baq4')

# Função para obter coordenadas geográficas
def get_coordinates(address):
    geocode_result = gmaps.geocode(address)
    if geocode_result:
        location = geocode_result[0]['geometry']['location']
        return (location['lat'], location['lng'])
    else:
        return (None, None)

# Aplicando a função para obter coordenadas geográficas
nova_base_dados['coordenadas'] = nova_base_dados['endereco_completo'].apply(get_coordinates)

# Verificando a mudança
nova_base_dados.head()

C:\Users\Eduardo\AppData\Local\Temp\ipykernel_1740\4265665646.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nova_base_dados['coordenadas'] = nova_base_dados['endereco_completo'].apply(get_coordinates)

,bairro,endereco,area,quartos,banheiros,vaga,aluguel,condominio,endereco_completo,coordenadas
0,Centro,Rua Aurora,38.0,1.0,1.0,0,R$ 1.450,R$ 576 Condominio,"Rua Aurora, Centro, São Paulo, São Paulo, Brasil","(-23.5390208, -46.6387669)"
1,Centro,Avenida Senador Queirós 101,41.0,1.0,1.0,0,R$ 1.450,R$ 990 Condominio,"Avenida Senador Queirós 101, Centro, São Paulo...","(-23.5388665, -46.6351773)"
2,Vila Buarque,"rua das Palmeiras, 381",58.0,2.0,1.0,0,R$ 1.450,R$ 595 Condominio,"rua das Palmeiras, 381, Vila Buarque, São Paul...","(-23.5365629, -46.6523893)"
3,Centro,AV NOVE DE JULHO,80.0,1.0,1.0,0,R$ 1.450,R$ 650 Condominio,"AV NOVE DE JULHO, Centro, São Paulo, São Paulo...","(-23.5665948, -46.6587092)"
4,Vila Buarque,Rua Marquês de Itu,31.0,1.0,1.0,1,R$ 1.459,R$ 720 Condominio,"Rua Marquês de Itu, Vila Buarque, São Paulo, S...","(-23.5437626, -46.6498096)"

In [38]:
#Ficou perfeito! Vamos agora fazer com toda a base de dados

# Inicializando o cliente da API do Google Maps
gmaps = googlemaps.Client(key='AIzaSyAi_c4WeIagps-xADqRrJ8mypWmOV-Baq4')

# Função para obter coordenadas geográficas
def get_coordinates(address):
    geocode_result = gmaps.geocode(address)
    if geocode_result:
        location = geocode_result[0]['geometry']['location']
        return (location['lat'], location['lng'])
    else:
        return (None, None)

# Aplicando a função para obter coordenadas geográficas
data_teste['coordenadas'] = data_teste['endereco_completo'].apply(get_coordinates)

# Verificando a mudança
data_teste.head()

,bairro,endereco,area,quartos,banheiros,vaga,aluguel,condominio,endereco_completo,coordenadas
0,Centro,Rua Aurora,38.0,1.0,1.0,0,R$ 1.450,R$ 576 Condominio,"Rua Aurora, Centro, São Paulo, São Paulo, Brasil","(-23.5390208, -46.6387669)"
1,Centro,Avenida Senador Queirós 101,41.0,1.0,1.0,0,R$ 1.450,R$ 990 Condominio,"Avenida Senador Queirós 101, Centro, São Paulo...","(-23.5388665, -46.6351773)"
2,Vila Buarque,"rua das Palmeiras, 381",58.0,2.0,1.0,0,R$ 1.450,R$ 595 Condominio,"rua das Palmeiras, 381, Vila Buarque, São Paul...","(-23.5365629, -46.6523893)"
3,Centro,AV NOVE DE JULHO,80.0,1.0,1.0,0,R$ 1.450,R$ 650 Condominio,"AV NOVE DE JULHO, Centro, São Paulo, São Paulo...","(-23.5665948, -46.6587092)"
4,Vila Buarque,Rua Marquês de Itu,31.0,1.0,1.0,1,R$ 1.459,R$ 720 Condominio,"Rua Marquês de Itu, Vila Buarque, São Paulo, S...","(-23.5437626, -46.6498096)"

In [42]:
data_teste.to_csv('data_final_export.csv', index=False)

In [40]:
data_teste.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1155 entries, 0 to 1154
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   bairro             1155 non-null   object
 1   endereco           1155 non-null   object
 2   area               1140 non-null   float64
 3   quartos            1140 non-null   float64
 4   banheiros          990 non-null    float64
 5   vaga               1155 non-null   int64
 6   aluguel            1155 non-null   object
 7   condominio         1098 non-null   object
 8   endereco_completo  1155 non-null   object
 9   coordenadas        1155 non-null   object
dtypes: float64(3), int64(1), object(6)
memory usage: 90.4+ KB

In [41]:
data_teste.head()

,bairro,endereco,area,quartos,banheiros,vaga,aluguel,condominio,endereco_completo,coordenadas
0,Centro,Rua Aurora,38.0,1.0,1.0,0,R$ 1.450,R$ 576 Condominio,"Rua Aurora, Centro, São Paulo, São Paulo, Brasil","(-23.5390208, -46.6387669)"
1,Centro,Avenida Senador Queirós 101,41.0,1.0,1.0,0,R$ 1.450,R$ 990 Condominio,"Avenida Senador Queirós 101, Centro, São Paulo...","(-23.5388665, -46.6351773)"
2,Vila Buarque,"rua das Palmeiras, 381",58.0,2.0,1.0,0,R$ 1.450,R$ 595 Condominio,"rua das Palmeiras, 381, Vila Buarque, São Paul...","(-23.5365629, -46.6523893)"
3,Centro,AV NOVE DE JULHO,80.0,1.0,1.0,0,R$ 1.450,R$ 650 Condominio,"AV NOVE DE JULHO, Centro, São Paulo, São Paulo...","(-23.5665948, -46.6587092)"
4,Vila Buarque,Rua Marquês de Itu,31.0,1.0,1.0,1,R$ 1.459,R$ 720 Condominio,"Rua Marquês de Itu, Vila Buarque, São Paulo, S...","(-23.5437626, -46.6498096)"